acid-xblock==0.2.1
appdirs==1.4.4
arrow==1.2.0
astroid==2.8.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
binaryornot==0.4.4
bok-choy==0.7.1
boto==2.49.0
boto3==1.18.54
botocore==1.21.54
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
click-log==0.3.2
code-annotations==1.2.0
-e git+ssh://git@github.com/EmpowrOrg/CodeEditorXblock.git@fb818171ce5694ed74b401cdea52ce9fd13dc2e7#egg=codingxblock_xblock&subdirectory=codingxblock
cookiecutter==1.7.3
coverage==6.0
ddt==1.4.4
distlib==0.3.3
Django==2.2.24
django-pyfs==3.1.0
edx-lint==5.2.0
filelock==3.3.0
flake8==4.0.1
fs==2.4.13
fs-s3fs==1.1.1
idna==3.2
iniconfig==1.1.1
isort==5.9.3
Jinja2==3.0.2
jinja2-time==0.2.0
jmespath==0.10.0
lazy==1.4
lazy-object-proxy==1.6.0
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
needle==0.5.0
nose==1.3.7
packaging==21.0
pbr==5.6.0
Pillow==8.3.2
platformdirs==2.4.0
pluggy==1.0.0
poyo==0.5.0
py==1.10.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.11.1
pylint-celery==0.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyparsing==2.4.7
pypng==0.0.21
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.4.0
pytest-rerunfailures==10.2
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
s3transfer==0.5.0
selenium==3.4.1
simplejson==3.17.5
six==1.16.0
snowballstemmer==2.1.0
sqlparse==0.4.2
stevedore==3.4.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
tox==3.24.4
tox-battery==0.6.1
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
web-fragments==1.1.0
WebOb==1.8.7
wrapt==1.12.1
XBlock==1.5.1
-e git+ssh://git@github.com/edx/xblock-sdk.git@08fe1793c8d75813a23c239bf89a1eb4e420caa3#egg=xblock_sdk
